<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.childmonitoringsystem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ParentDashboardActivity"
            android:label="@string/parent_dashboard_title"/>
        <activity android:name=".AddChildActivity"
            android:label="@string/add_new_child_title"/>
        <activity android:name=".ViewChildrenActivity"
            android:label="@string/my_children_title"/>
        <activity android:name=".MapViewActivity"
            android:label="@string/activity_title_map_view"/>

        <activity android:name=".RegisterActivity"
            android:label="@string/activity_title_register"/>

        <!-- Google Maps API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_API_KEY_HERE" />
        <!-- IMPORTANT: Replace YOUR_API_KEY_HERE with your actual API key -->

    </application>

</manifest>
